<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" verbose="3">
    <test verbose="2" preserve-order="true" name="../SeleniumGrid/src/test/java/TestChrome.java">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="TestChrome"></class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="../SeleniumGrid/src/test/java/TestFF.java">
        <parameter name="browser" value="ff"></parameter>
        <classes>
            <class name="TestFF"></class>
        </classes>
    </test>
</suite>